
<section>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Quartz</span>
        </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
  
      <!-- <mat-card>
    <h1> {{title}}</h1>
    <p>{{subheader}}</p>
    <mat-form-field class="txt-area">
        <input matInput placeholder="Input">
        <button (click)="changeMic()" class="mic-button">
            <img [src]="imgurl" capation="mic"/></button>
      </mat-form-field>
      <mat-list>
          <h3 mat-subheader>Things You said : </h3>
          <mat-list-item *ngFor="let query of queries">
            <h4 mat-line>{{query}}</h4>
          </mat-list-item>
          </mat-list>
     </mat-card> --> 
</section>

