/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-button-toggle-group{
 width:400px !important;
}
.mat-button-toggle{
    width: inherit !important;
    text-align: center !important;
}